
.center {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.modaltext .row {
  height: 25%;
}

.modaltext .row .col-12{
  text-align: center;
}

.modalshadow {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: grey;
  position: absolute;
  opacity: .3;
}

.modaltext {
  background-color: white;
  height: 200px;
  width: 600px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: 2;

}

.addtab {
  padding-left: 10px;
  height: 90%;
  width: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.7em
}

button.hidecursor {
  cursor: default;
}

.fullheight {
  height: 100%;
}

input {
  height: 2em;
}

input.points {
  width: 50px;
}

.btn {
  margin: 20px;
}

input.nav-link {
  height: 100%;
  width: 60%;
}

input.assignment {
  height: 42
}
