body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

.row {
  height: 50px;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

div.column {
  border-top: 1px groove lightslategray;
  padding-top: 0.5em;
}

a.row {
  background-color: white;
}

button > a {
  height: 100%;
  width: 100%;
  padding: 10px 20px 10px 20px;
}

.student.row:hover {
  background-color: #80d5ff;
}

.column {
  height: 100%;
  width: 50%;
  padding-left: 10%;
}

.input {
  font-size: 1rem;
  height: 20%;
  padding: 10px;
  /* border: none; */
  background-color: gainsboro;
  width: 100%;
  cursor: text;
}

.assignment.input {
  width: 10%;
  background-color: white;
}

/* .column .input { */
  /* border: ; */
  /* outline: unset; */
/* } */

.add {
  font-size: 1.5rem;
  height: 20%;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.tab input {
  outline: none;
  border: none;
}

.column input.input {
  background-color: white;
  width: 2rem;
  font-weight: bold
}

input.column {
  font-size: 1.2rem;
  border: none;
  outline: none;
}

form.row {
  border-top: 1px groove lightslategray;
}

.assignment {
  background-color: skyblue;
}

.back {
  background-color: grey;

}

.submit {
  background-color: limegreen;
  padding: 10px 0;
}

.tab {
  font-size: 1.2rem;
  color: grey;
  padding: 10px;
  margin-top: 1vh;
  width: 5%;
  white-space: nowrap;
  background-color: gainsboro;
  border: 1px groove gainsboro;
  border-radius: 15px 15px 0 0;
  text-align: center;
  overflow: hidden;
}

.inactive {
  font-size: 1.2rem;
  color: grey;
  padding: 10px;
  margin-top: 1vh;
  width: 5%;
  white-space: nowrap;
  background-color: gainsboro;
  border: 1px groove gainsboro;
  border-radius: 15px 15px 0 0;
  text-align: center;
  overflow: hidden;
}

a.tab:hover {
  color: black;
  min-width: 5%;
  width: auto;
}

.active {
  color: black;
  margin-top: 0;
  background-color: white;
  border-bottom: none;
  display: inline-block;
  min-width: 5%;
  width: auto;
  cursor: default;
}

button {
  border-radius:  20px;
  font-size: 1.2rem;
  padding: 10px 20px 10px 20px;
  margin: 30px 30px 30px 80%;
  color: white;
  cursor: pointer;
}

.button {
  border-radius:  20px;
  font-size: 1.2rem;
  padding: 10px 20px 10px 20px;
  color: white;
  cursor: pointer;
}

.foreground {
  background-color: #80d5ff;
}

.background {
  background-color: #9580ff;
  border: none;
}

.accent {
  background-color:#80ffaa;
}
